/* COMMON AREAS */

html, body, .container{
    height: 100%;
    font-family: 'Ubuntu', sans-serif !important;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.box-center {
	display: table-cell;
   text-align: center;
   vertical-align: middle;
   margin: auto;
}

  .heading {
    background: #244C66;
    color: #fff;
    text-align: center;
    font-weight: 400 !important;
    padding: 1.0em;
  }

.navbar {
 border-radius: 0px !important;
}