<div class="row row-centered box-center">
<div class="col-md-5 col-centered">
    <img class="box-center" src="../static/img/logo_alta.png">

  <div class="panel panel-primary">
   <h4 class="heading"><strong>Login</strong></h4>
    <div class="panel-body">
      <br>
      <form class="" action="" role="form">
      <div class="form-group">
        <div class="input-group input-icon">
        <span class="input-group-addon">
          <em class="fa fa-envelope fa-fw"></em>
        </span>
          <input type="email" name="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-icon">
          <span class="input-group-addon">
            <em class="fa fa-key fa-fw"></em>
          </span>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
      </div>
      {{#link-to 'dashboard'}} <button class="btn btn-primary pull-right"> Log in </button>{{/link-to}}
      <div class="checkbox pui-init checked">
        <label><input type="checkbox" name="" checked=""> Remember me<span class="ctrl-overlay fa fa-check"></span></label>
      </div>
      </form>
    </div>
                  
    <div class="panel-footer">
      <div class="row">
         <a href="#"><div class="col-md-12 text-center">
             <strong>Forgot your password?</strong>
         </div></a>
      </div>
    </div>
</div>