
<h1> hi! you are on the dash board! </h1>

<ul>
 {{#each project in model}}
    <li>{{project.projectName}}</li>
  {{/each}}
</ul>

<div class="row row-centered box-center">
<div class="col-md-5 col-centered">
  <div class="panel panel-primary">
   <h4 class="heading">{{projectName}} | Sprint: {{sprintcount}} - {{sprintslug}}</h4>
    <div class="panel-body">
     
    </div>
</div>
</div>